<h1> New Task </h1>

<p>Let's add more task to your never ending list</p>

<form action="/create_task" method="get">

<input type= "text" name= "content of text" placeholder="please add a task">




  <button type="submit" name="operator" value="new value">
    Add task 
  </button>
</form>

