<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1> Mike's Awesome Blog </h1>

	<%=@blog_post%>

		<h2>Please post your comments to this blog</h2>

<a herf - 

	<form action="/update" method = "POST">

		<input = "text" name = "name" placeholder = "your name">
		<input = "email" name = "email" placeholder = "your email">
		<textarea name="Text1" cols="40" rows="5" ... ></textarea>
		<input="checkbox" name = "save_data">
	</form>


	<button type="submit"value ="text">Submit</button>

</body>
</html>