<h1>Movie Search Page</h1>

<p>
  Tell us what you want to search
  </p>


<form action="/results" method="POST">
  <input type="text" name="movie"> 

<button type="submit" name="button" value="movie">
Search</button>

</form>


 

