

h1 {
  /*font-family: Cambria, Georgia, serif;*/
  font-size: 40px;
  text-align: center;
  height: 100px;
  width:100%;
}

.image {
	height: 600px;
	width: 440px;
	float: left;
}
.text1 {
	
	height: 600px;
	width: 440px;
	margin-right: 40px;
	float:right;
}

/*.new-class {
	height: 25px;
	width: 40%;
	
}*/

